# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
client/node_modules
client/.pnp
.pnp.js
/.vscode
# testing
client/coverage
client/.env

# production
client/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*



# dependencies
server/node_modules
server/.env

third-party-cookies-testing

./x-3pc/
# dependencies
x-3pc

